<div class="wrapper head">
  <header id="header" class="clear">
    <div id="logo">
		<a href="#"><img src="../../UI/images/logo.png" alt="EPiCenter" /></a>
	</div>
    <div id="hgroup">
      <form>
		<div class="field siteSearchField"><input type="search" id="siteSearch" /></div>
		<ul class="login">
			<li><a href="">My Login</a></li>
		</ul>	
	  </form>
    </div>
  </header>
</div>
<div class="wrapper topNav">
  <nav id="topnav">
    <ul class="clear">
      <li class="active first"><a href="index.html">Home</a></li>
      <li><a href="Form.html">Form</a></li>
      <li><a href="editUser.html">Edit User</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 1</a></li>
      <li class="last-child"><a href="#">Link 1</a></li>
    </ul>
  </nav>
</div>