@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html

@model EPiCenterBaseProject.Models.ViewModels.StartPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper mainBody">
  <div id="container">
    <!-- #############################	BANNER	######################################## -->
    <div class="full_width clear">
      @Html.PropertyFor(p => p.StartPage.BannerContentArea)
    </div>
    <!-- ################################################################################################ --> 
	<!-- ################################################################################################ -->
    <div class="full_width clear">
      <div class="two_third col first">
		  <div class="block clear overviewBlock">
			<h2>EPi Overview</h2>
			<div class="cont">
				<p>Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. </p>
				<p>Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. Få bättre koll, smartare elförbrukning och sänkta kostnader. </p>
				<a href="" class="readMore">read more</a>
			</div>
		  </div>
		  <div class="block clear newsBlock">
			<h2>EPi News </h2>
			<div class="cont">
				<ul class="newsUpdates">
					<li>
						<div class="newsImg"><img src="../../UI/images/banner1.png" alt="Banner 1" /></div>
						<div class="newsLinkCont">
							<span class="date">19th Jan 2015</span>
							<a href="#">Nullam id lorem eget nunc vestibulum vestibulum. Fusce rutrum ex a pellentesque feugiat...</a>
						</div>
					</li>
					<li>
						<div class="newsImg"><img src="../../UI/images/banner1.png" alt="Banner 1" /></div>
						<div class="newsLinkCont">
							<span class="date">19th Jan 2015</span>
							<a href="#">Nullam id lorem eget nunc vestibulum vestibulum. Fusce rutrum ex a pellentesque feugiat...</a>
						</div>
					</li>
					<li>
						<div class="newsImg"><img src="../../UI/images/banner1.png" alt="Banner 1" /></div>
						<div class="newsLinkCont">
							<span class="date">19th Jan 2015</span>
							<a href="#">Nullam id lorem eget nunc vestibulum vestibulum. Fusce rutrum ex a pellentesque feugiat...</a>
						</div>
					</li>
					<li>
						<div class="newsImg"><img src="../../UI/images/banner1.png" alt="Banner 1" /></div>
						<div class="newsLinkCont">
							<span class="date">19th Jan 2015</span>
							<a href="#">Nullam id lorem eget nunc vestibulum vestibulum. Fusce rutrum ex a pellentesque feugiat...</a>
						</div>
					</li>
					<li>
						<div class="newsImg"><img src="../../UI/images/banner1.png" alt="Banner 1" /></div>
						<div class="newsLinkCont">
							<span class="date">19th Jan 2015</span>
							<a href="#">Nullam id lorem eget nunc vestibulum vestibulum. Fusce rutrum ex a pellentesque feugiat...</a>
						</div>
					</li>
				</ul>
			</div>
		  </div>
	  </div>
	  
      <div class="one_third col">
		<div class="block clear yammerBlock">
			<h2>One third</h2>
			<ul class="yammerUpdate">
				<li><a href="">Some yammer update...</a></li>
				<li><a href="">Some yammer update...</a></li>
				<li><a href="">Some yammer update...</a></li>
				<li><a href="">Some yammer update...</a></li>
			</ul>
		</div>
	  </div>
	  
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="full_width clear">
      <div class="one_third col first"><div class="block clear pollBlock"><h2>Poll/ Survey</h2></div></div>
      <div class="one_third col"><div class="block clear calenderBlock"><h2>Calender</h2></div></div>
      <div class="one_third col"><div class="block clear blogBlock"><h2>EPi Blog</h2></div></div>
    </div>
    
  </div>
</div>