@using EPiServer.Shell.Web.Mvc.Html
@using EPiServer.Web.Mvc.Html

@model EPiCenterBaseProject.Models.ViewModels.StartPageViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <!-- #############################	BANNER	######################################## -->
    <div class="full_width clear">
      @Html.PropertyFor(p => p.StartPage.BannerContentArea)
    </div>
    <!-- ################################################################################################ --> 
	<!-- ################################################################################################ -->
    <div class="full_width clear">
      <div class="two_third col first">
		  <div class="block clear overviewBlock">
			@Html.PropertyFor(p => p.StartPage.OverviewContentArea)
		  </div>
		  <div class="block clear newsBlock">
			@Html.PropertyFor(p => p.StartPage.NewsListContentArea)
		  </div>
	  </div>
	  
      <div class="one_third col">
		<div class="block clear yammerBlock">
			<h2>One third</h2>
			<ul class="yammerUpdate">
				<li><a href="">Some yammer update...</a></li>
				<li><a href="">Some yammer update...</a></li>
				<li><a href="">Some yammer update...</a></li>
				<li><a href="">Some yammer update...</a></li>
			</ul>
		</div>
	  </div>
	  
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="full_width clear">
      <div class="one_third col first"><div class="block clear pollBlock"><h2>Poll/ Survey</h2></div></div>
      <div class="one_third col"><div class="block clear calenderBlock"><h2>Calender</h2></div></div>
      <div class="one_third col"><div class="block clear blogBlock"><h2>EPi Blog</h2></div></div>
    </div>
    
