<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=RIGHTSHORE2\SQLEXPRESS;Initial Catalog=dbEPiCenterBaseProject;Integrated Security=False;User ID=epicenterbaseproject;Password=Capgemini!;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>