@import url(framework.css);
*{padding:0; margin:0;}

html{overflow-y:scroll;}

body{font-size:100%; font-family:"Century Gothic",Georgia, "Times New Roman", Times, serif; color:#919191;}

hr {height:1px; background-color:#dadada; border: 1px solid #dadada;}
p{margin-bottom:15px;}
ul {list-style:none; margin:0; padding:0;}

/* Form Elements */
input[type="text"],input[type="password"] , input[type="search"] {padding:5px; border:1px solid #dadada;}
input[type="radio"] { margin-right:5px;}
input[type="checkbox"] { margin-right:5px;}
select{ padding:5px; border:1px solid #dadada;}
textarea{ padding:5px; border:1px solid #dadada; vertical-align:top; min-height:80px;}
input[type="button"],input[type="submit"],input[type="reset"], button { 
	padding: 5px 15px; 
	display: inline-block; 
	margin:5px 0px;
    border-color: #1a96ed;
    box-shadow: 0 5px 0 rgba(255,255,255,0),0 1px 0 rgba(255,255,255,0) inset;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    border:1px solid #1a96ed;
    border-radius:3px;
    font-size: 100%;
}

input[type="button"],input[type="submit"], button{
	background: linear-gradient(to bottom, #3bbaf7 0%, #1ba4fa 100%);
}

input[type="button"].disabled,input[type="submit"].disabled, button.disabled{
	background: linear-gradient(to bottom, #B0E3FC 0, #A4DBFD 100%);
	border-color: #A3D5F8;
	transition: background-color .3s;
	text-shadow: 0 0px 0 rgba(0,0,0,0.15);
}

input[type="reset"]{
	background: linear-gradient(to bottom, #fafafa 0, #e0e2e5 100%);
	color:#666;  border-color: #dadada;
}

input[type="reset"].disabled{
	background: linear-gradient(to bottom, #fafafa 0, #e0e2e5 100%);
	color:#ccc;  border-color: #1a96ed;
	transition: background-color .3s;
}


/* Form Elements */

.justify{text-align:justify;}
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.nostart{margin:0; padding:0; list-style:none;}
.hidden{display:none;}
.left {float:left;}
.right{float:right;}
.clear{display:block; clear:both;}
.clear:after{display:block; visibility:hidden; height:0; clear:both; font-size:0; content:"";}
.hide {display:none;}
.show {display:block;}
a{outline:none; text-decoration:none; color:#02519E;}

.fl_left{float:left;}
.fl_right{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgholder, .imgl, .imgr{padding:4px; border:1px solid #D6D6D6; text-align:center;}
.imgl{float:left; margin:0 15px 15px 0; clear:left;}
.imgr{float:right; margin:0 0 15px 15px; clear:right;}

div.full_width .nopad {padding:2px;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, nav, section{display:block; margin:0; padding:0;}

/*----------------------------------------------Responsive Videos-------------------------------------*/

.video{display:block; position:relative; width:100%; height:0; margin:0; padding:0 0 56.25% 0; /* using a 16:9 aspect ratio, the height is 56.25% of the width (9/16=0.5625) */}
.video iframe{display:block; position:absolute; width:100%; height:100%; margin:0; padding:0;}

/* ----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; margin:0; padding:0; text-align:left;}

.head{
	-webkit-box-shadow: -1px 6px 24px -8px #222;
	-moz-box-shadow: -1px 6px 24px -8px #222;
	box-shadow: -1px 6px 24px -8px #222;
	position:relative;
	z-index:99999;
}
.head{color:#C0BAB6; background-color:#FFF;}
.topNav{
	color:#919191; background-color:#02519e; /*be2819*/
	/*
	-webkit-box-shadow: 0px 6px 12px -8px #222;
	-moz-box-shadow: 0px 6px 12px -8px #222;
	box-shadow: 0px 6px 12px -8px #222; 
	*/
	position:relative;
	z-index:9999;
}
.mainBody{
	color:#979797; background-color:#eef3f7;
	position:relative; padding-bottom: 20px !important;
}
.mainBody a{color:#0081FF; }
.mainBody a:hover{color:#02519E; }
.footer, .footer a{color:#919191; background-color:#232323;}
a.readMore { float: right; font-weight: bold; font-size: 11px; color:#42b602;}

.overviewBlock ul, .newsBlock ul, .overviewBlock ol, .newsBlock ol {margin-bottom:10px; margin-left:10px;}
.overviewBlock ul li, .newsBlock ul li{ list-style: disc; list-style-position: inside; }
.overviewBlock ol li, .newsBlock ol li{ list-style-position: inside;  }

/*----------------------------------------------Generalise-------------------------------------*/

h1, h2, h3, h4, h5, h6{margin:0 0 25px 0; padding:0;  line-height:normal;}
h1 {font-size:22px;}
h2 {font-size:20px;}
h3 {font-size:16px;}
h4 {font-size:14px; margin-bottom:15px;}
h5 {font-size:14px;}
h6 {font-size:13px;}
address{font-style:normal;}

blockquote, q{display:block; padding:8px 10px; color:#979797; background-color:#ECECEC; font-style:italic; line-height:normal;}
blockquote:before, q:before{content:'“ '; font-size:26px;}
blockquote:after, q:after{content:' „'; font-size:26px; line-height:0;}

/*----------------------------------------------full width wrapper-------------------------------------*/
div.full_width1{margin-top:20px;}
div.full_width:first-child{margin-top:0;}
.innerPage div.full_width:first-child{padding-top:20px;}
div.full_width .block {	color: #616263;	background-color: #fff;	border: 1px solid #dadada;	padding:15px;   margin-bottom: 15px;
}
/*----------------------------------------------full width wrapper-------------------------------------*/

#header, #topnav, #container, #footer, #copyright{margin:0 auto; font-size:.8em; line-height: 20px; }
#header, #topnav, #container, #footer{max-width:960px; padding:0 10px; box-sizing:border-box; }

#newsTicker{ background: #22B604; color:#fff; height:20px; padding:10px;}
.newsTickerCont{max-width:960px; padding:0px 10px; box-sizing:border-box; margin:0 auto; overflow: hidden;}
#newsTicker .tickHead {display: block;float: left; font-weight: bold; padding-right: 15px; text-transform: uppercase; border-right:1px dotted #fff;}
#newsTicker a{display: inline-block;  padding-right: 15px; border-right:1px dotted #fff; color:#fff; margin:0 3px; font-size: 13px;}
#newsTicker a:hover{text-decoration: underline; color: yellow;}
#newsTicker marquee {width:65%;}
/*----------------------------------------------Header-------------------------------------*/

#header{padding:15px 0;}

#header #logo{display:block; float:left; width:auto; clear:right;}
#header #hgroup{display:block; float:right;  clear:right;}
#header #hgroup h1, #header #hgroup h2{margin:0; font-weight:normal; text-transform:none;}
#header #hgroup .siteSearchField input{ max-width:300px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
#header #hgroup .siteSearchField,
#header #hgroup .login{float:left; margin:8px 15px 0 0;}
#header #hgroup .login a{
	font-size:11px;
	line-height: normal;
	padding:6px 7px 6px 25px; 
	margin-left:5px; 
	border:1px solid #d8e6f3; 
	font-weight:bold;
	-webkit-border-radius:5px;-moz-border-radius:5px; border-radius:5px;
	background:#f5f9fd url("../images/icon-login.png") 7px 5px no-repeat;
	display:inline-block;
}
#header #hgroup div:first-child { margin-top: 13px;  color: #22B604;}

/* ----------------------------------------------Banner-------------------------------------*/
#banners {background:#efefef; }
#banners li{min-height:300px;}
#banners img{ border:1px solid #dadada; border-top:0;}
.bannerCont { max-height: 301px; max-width: 100%; padding-right: 0px; overflow: hidden; margin-bottom: 20px;}
.bannerCont #bannerNav {position: absolute; padding-top: 4px; height: 15px; left: 50%;  text-align: center;}
.bannerCont #bannerNav a{text-indent: -999999px; border:1px solid #dadada; background: #ccc; border-radius: 10px; display: inline-block; width: 10px; height: 10px; margin-right: 3px;}
.bannerCont #bannerNav a.activeSlide{background:#FF9900; border-color: #FF9900;}

/* ----------------------------------------------Top Navigation-------------------------------------*/
nav ul{margin:0; padding:0; list-style:none;}

#topnav{color:#ffffff; clear:both;}
#topnav ul{margin:0; padding:0; list-style:none; text-transform:uppercase; font-size:12px;}
#topnav ul ul{z-index:9999; position:absolute; left:0; width:160px; text-transform:none;}
#topnav ul ul ul, #topnav ul ul ul ul{left:160px; top:0;}
#topnav ul li:last-child ul, #topnav ul li.last-child ul{right:0;}
#topnav ul.negative{left:-160px;}
#topnav li{position:relative; display:block; float:left; margin:0 0 0 30px; padding:0;}
#topnav li:first-child, #topnav li.first{margin-left:0;}
#topnav li li{width:100%; margin:0;}
#topnav li a{display:block; color:#fff; font-weight:bold; padding: 12px 0; font-size: 12px; line-height: 17px;}

#topnav li li a{display:block; margin:0; padding:10px 15px;}

#topnav ul ul{
	display:none; background:#f7f7f7; border:1px solid #dadada;
	-webkit-box-shadow: 0px 6px 12px -8px #222;
	-moz-box-shadow: 0px 6px 12px -8px #222;
	box-shadow: 0px 6px 12px -8px #222;
 }
#topnav ul li:hover ul{display:block;}



#topnav li li a, #topnav li.active li a{color:#0081FF; border-top:1px dotted #dadada; font-weight:normal;}
#topnav li.active a, #topnav a:hover{color:#84FF00; /*#FF9900*/ }
#topnav ul li li:hover > a{background-color:#efefef; color:#616263;}

#topnav li a.drop, #topnav li.active a.drop{padding-left:15px; background-image:url("images/dropdown_side.gif"); background-position:5px center; background-repeat:no-repeat;}

/* Top navigation for smaller resolutions */

#topnav form{display:block; height:30px; margin:0 auto; padding:0;}
#topnav form select{display:block; width:100%; padding:8px; color:#FFFFFF; background-color:#232323; border:1px solid #494949; cursor:pointer; outline:none;}
#topnav form select option{display:block; margin:10px; padding:0; cursor:pointer; outline:none; border:none;}

/*----------------------------------------------Content Area-------------------------------------*/

#container{/*padding:30px 0;*/ clear:both;}
.homeBlock  {position: relative; overflow: hidden; }
.homeBlock h2 {margin-bottom:15px; color: #79C2FD;}
.homeBlockImg {max-width: 100%; margin-bottom:15px; height:40px;}
.homeBlockImg i{font-size: 150px; color: #79C2FD; position: absolute; right:-10px; top:-40px;}
.homeBlockImg i.fa-connectdevelop{right:-35px; top:-55px;}
.homeBlockImg i.fa-globe{right:-30px; top:-60px; font-size: 170px}

.overviewBlock{	margin-bottom:20px;}
.rssUpdate li{ margin-bottom:10px; border-bottom:1px dotted #dadada; padding-bottom:5px;}
.newsBlock .newsUpdates {margin:0;}
.newsUpdates li { 
	display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #dadada;
  float: left;
  border: 1px dotted #dadada;
  padding: 10px;
  box-sizing: border-box;
}
.two_third .newsUpdates li { width: 47%; margin-right: 10px; }
.newsImg {
	width: 60px;
	height: 60px;
	background: #f7f7f7;
	border: 1px solid #dadada;
	float: left;
	margin-right: 15px;
}
.newsLinkCont .date, .rssUpdate .date {display:block; padding-bottom:5px; font-size:11px; color:#9b9b9b;}
.loginBlock  { padding:}
.buttonCont {margin-left:155px; margin-top:15px;}
.newsUpdates a, .rssUpdate a { font-weight: 600; }

.yj-global-embed-publisher-with-avatar { padding-top: 10px; }
.yj-hd + h3 { display:none;}

.profileBlock .title, .micrositeBlock .title { position: relative; margin-bottom: 35px; }
.profileBlock .title img, .micrositeBlock .title img{ position: absolute; right:0; top:5px;}

/*----------------------------------------------Left Menu-------------------------------------*/
body .leftMenuCont .block{ padding:0 ;}
.leftMenuCont .leftMenu {padding: 0px 0;}
.leftMenuCont .leftMenu a{ padding:10px 10px 10px ; display: block; border-bottom:1px solid #dadada; }
.leftMenuCont .leftMenu li:last-child a {border-bottom: 0;}
.leftMenuCont .leftMenu a:hover{background:#f7f7f7; color:#616263;}
.leftMenuCont .leftMenu .active a{background:#22B604; /*#FB9703*/; color:#fff; border-bottom-color:#fff;}

/*----------------------------------------------Profile-------------------------------------*/
.profileListCont section{ float: left;}
.profileListCont h2, .profileListCont h3 {margin-bottom: 10px;}
.profileListCont li {border-top:1px dotted #dadada; padding:10px; }
.profileListCont ul:last-child li {border-bottom:1px dotted #dadada;  }

.profilePic img { border: 5px solid #efefef; max-width: 100%; width: 100px; }

.profileTopCont {border-bottom:1px dotted #dadada; padding-bottom: 15px;}
.profileDesc span{font-weight: bold; }
.profileDesc .left{ width:50%; }
.profileDesc .right{ text-align: left; }

.profileCont form .row {padding-bottom:10px; display: inline-block;width: 100%;}
.profileCont form label {font-weight: bold;}
.profileCont form .inputField {display:none;}
.profileCont form.edit .inputField {display:block;}
.profileCont form.edit span.label {display:none;}
.profileCont .emailIcon { margin-top: 30px;}
.profileCont form .editButton { margin-left: 135px; width:auto;}
.pollQuestionCont {margin-bottom:10px;}
.pollQuestionCont li { display: block; width: 96%; padding: 5px; border: 1px solid #dadada; border-radius: 5px;  margin-bottom: 5px;}
.pollQuestionCont li.selected { background: #DEF4FF ;}
.pollQuestionCont label { display: block;  width: 90%;}
.pollCont{font-family: arial; font-size: 12px;}
.pollCont h3{margin-bottom: 15px; font-size: 14px;}

.pollResultCont li {padding:5px 0;}
.pollQGraph{ border:1px solid #efefef; border-radius:5px; height:22px; }
.pollQGraph span {display:none; text-align:center; padding:1px 5px; border-radius:5px; color:#fff; font-size: 11px;}
#pollQuest0 span{background:#0082D3;}
#pollQuest1 span{background:#99D700;}
#pollQuest2 span{background:#F72D0A;}
#pollQuest3 span{background:#EDE100;}
#pollQuest4 span{background:#BA001C;}
#pollQuest5 span{background:#037E8C;}
#pollQuest6 span{background:#374140;}
#pollQuest7 span{background:#EF6B54;}
#pollQuest8 span{background:#0CE841;}
#pollQuest9 span{background:#434573;}
#pollQuest10 span{background:#FBD50A;}


/*----------------------------------------------form-------------------------------------*/
.mainBody form .field { 	padding: 5px 0 10px;}
.mainBody form label { min-width: 80px; display: inline-block; }
.mainBody form label:first-child { min-width: 150px; display: inline-block; }

/*----------------------------------------------Footer-------------------------------------*/

#footer{padding:20px 0;}
#footer p{margin:0; padding:0;}

